@import url('https://fonts.bunny.net/css?family=albert-sans:200,400,600&display=swap');

@tailwind base;

/* *************** */
/* **** THEME **** */
/* *************** */

html {
    @apply scroll-smooth;
}

body {
    @apply flex flex-col flex-1;
    @apply w-full h-screen;
    @apply text-base;
    @apply bg-primary-50 text-primary-950;
}

body.dark {
    @apply bg-primary-950 text-primary-50;
}

[x-cloak] {
    display: none !important;
}

svg {
    @apply w-5 h-5;
    @apply stroke-current fill-none;
}

section {
    @apply text-sm;
}

a {
    @apply flex justify-start;
    @apply w-auto;
    @apply text-primary-950;
    @apply transition-all duration-200 ease-in-out;
}

a:hover {
    @apply text-primary-700;
}


/* ***************** */
/* **** TOGGLER **** */
.theme-toggler {
    @apply inline-flex items-center;
    @apply h-5 px-1;
    @apply text-xs;
    @apply transition duration-150 ease-in-out;
    @apply outline-none ring-0;
}

.theme-toggler>button {
    @apply relative inline-flex items-center flex-shrink-0;
    @apply w-10 h-5;
    @apply transition-colors duration-200 ease-in-out;
    @apply border-2 border-transparent rounded-full;
    @apply outline-none cursor-pointer ring-0;
}

.theme-toggler>button.lightness {
    @apply bg-primary-500;
}

.theme-toggler>button.darkness {
    @apply bg-primary-300;
}

.theme-toggler>button span.holder {
    @apply relative inline-block;
    @apply w-4 h-4;
    @apply transition duration-200 ease-in-out transform;
    @apply rounded-full shadow;
    @apply pointer-events-none ring-0;
}

.theme-toggler>button.lightness span.holder {
    @apply translate-x-0;
}

.theme-toggler>button.darkness span.holder {
    @apply translate-x-5;
}

.theme-toggler>button span.holder span.moon,
.theme-toggler>button span.holder span.sun {
    @apply absolute;
    @apply inset-0 flex items-center justify-center;
    @apply w-full h-full;
    @apply transition-opacity;
}

.theme-toggler>button.lightness span.holder span.moon {
    @apply duration-200 ease-in opacity-100;
}

.theme-toggler>button.darkness span.holder span.moon {
    @apply duration-100 ease-out opacity-0;
}

.theme-toggler>button.lightness span.holder span.sun {
    @apply duration-100 ease-out opacity-0;
}

.theme-toggler>button.darkness span.holder span.sun {
    @apply duration-200 ease-in opacity-100;
}

.theme-toggler>button.lightness span.holder span.moon svg {
    @apply text-primary-200;
}

.theme-toggler>button.darkness span.holder span.sun svg {
    @apply text-primary-800;
}

.theme-toggler>button:focus {
    @apply outline-none ring-0;
}

.theme-toggler:focus {
    @apply outline-none ring-0;
}


/* **************** */
/* **** ACCESS **** */
.login {
    @apply flex flex-row flex-1;
    @apply w-screen h-screen;
}

.login section:first-of-type {
    @apply flex flex-col;
    @apply items-center justify-between;
    @apply w-4/6 h-screen;
}

.login section:last-of-type {
    @apply w-3/6 h-screen;
    @apply from-fuchsia-600 to-fuchsia-950 bg-gradient-to-bl;
}

.login section .header {
    @apply flex flex-row;
    @apply items-center justify-between;
    @apply w-full h-16;
    @apply border-b border-primary-300;
    @apply bg-primary-200 text-primary-600;
}

.login section .header a svg {
    @apply w-14 h-14;
    @apply px-0;
    @apply transition-all duration-200 ease-in-out;
}

.login section .header a:hover svg {
    @apply w-14 h-14;
    @apply py-1;
    @apply text-primary-400;
    @apply transition-all duration-200 ease-in-out;
}

.login section .header a:hover h1 {
    @apply text-primary-400;
    @apply transition-all duration-200 ease-in-out;
}

.login section .header .theme-toggler {
    @apply mr-2;
}

.login section .footer {
    @apply w-full;
    @apply h-16;
    @apply leading-none;
}

.login form {
    @apply flex flex-col;
    @apply w-1/3;
    @apply p-4;
    @apply rounded-sm;
    @apply border-y border-primary-300;
    @apply bg-primary-200;
}

.login form .form-links {
    @apply flex flex-row;
    @apply justify-between;
    @apply pt-3 mt-4;
    @apply text-xs;
    @apply border-t border-primary-300;
    @apply text-primary-500;
}

.login form .form-links a:hover {
    @apply text-primary-700;
}


.dark .login section .header {
    @apply border-primary-600;
    @apply bg-primary-700 text-primary-300;
}

.dark .login section .header a:hover svg {
    @apply text-primary-500;
}

.dark .login section .header a:hover h1 {
    @apply text-primary-500;
}

.dark .login form {
    @apply border-primary-600;
    @apply bg-primary-500;
}

.dark .login form .form-links {
    @apply border-primary-400;
    @apply text-primary-800;
}

.dark .login form .form-links a:hover {
    @apply text-primary-900;
}

/* ***************** */
/* **** SIDEBAR **** */
aside {
    @apply z-50;
}

aside.navigation {
    @apply flex flex-col;
    @apply items-center justify-between;
    @apply w-16 h-screen;
    @apply fixed top-0 left-0;
    @apply border-r border-primary-300;
    @apply bg-primary-200;
}

aside.navigation nav.header,
aside.navigation nav.main,
aside.navigation nav.footer {
    @apply w-full h-16;
    @apply border-b border-primary-300;
}

aside.navigation nav.header ul {
    @apply w-16 h-16;
    @apply flex flex-1;
    @apply self-center justify-center;
}

aside.navigation nav.main {
    @apply flex flex-col;
    @apply items-center justify-between;
    @apply w-full h-full;
    @apply py-2;
}

aside.navigation nav.main ul {
    @apply w-full h-auto;
}

aside.navigation nav ul li,
aside.navigation nav ul li.dropdown {
    @apply flex flex-col;
    @apply items-center justify-center text-center;
    @apply mb-3;
}

aside.navigation nav ul li a,
aside.navigation nav ul li.dropdown button {
    @apply flex flex-1;
    @apply items-center justify-center;
    @apply w-full;
}

aside.navigation nav ul li:last-of-type {
    @apply mb-0;
}

aside.navigation nav ul li.dropdown:last-of-type {
    @apply mb-2;
}

aside.navigation nav ul li a svg,
aside.navigation nav ul li.dropdown button svg {
    @apply px-0.5;
    @apply text-primary-600;
    @apply transition-all duration-200 ease-in-out;
    @apply rounded-md;
}

aside.navigation nav ul li.current-item a svg {
    @apply text-primary-900;
    @apply bg-primary-400;
}

aside.navigation nav ul li a:hover svg,
aside.navigation nav ul li.dropdown button:hover svg {
    @apply px-1;
    @apply text-primary-400;
    @apply transition-all duration-200 ease-in-out;
}

aside.navigation nav ul li.current-item a:hover svg {
    @apply text-primary-700;
}

.logo,
aside.navigation nav.header ul li a svg {
    @apply stroke-current fill-none;
    @apply w-14 h-14;
}

aside.navigation nav.main ul li a svg,
.dropdown,
aside.navigation nav ul li.dropdown button svg {
    @apply stroke-current fill-none;
    @apply w-8 h-8;
}


main section .header .version,
aside.navigation nav ul li.version,
aside.navigation nav ul li.version a,
header section .version {
    @apply text-xs font-bold text-primary-400;
}

main section .header .version,
header section .version {
    @apply mr-2.5;
}

.dark aside.navigation {
    @apply bg-primary-700;
    @apply border-primary-600;
}

.dark aside.navigation nav.header,
.dark aside.navigation nav.main,
.dark aside.navigation nav.footer {
    @apply border-primary-600;
}

.dark aside.navigation nav ul li a svg,
.dark aside.navigation nav ul li.dropdown button svg {
    @apply text-primary-400;
}

.dark aside.navigation nav ul li a:hover svg,
.dark aside.navigation nav ul li.dropdown button:hover svg {
    @apply text-primary-200;
}

.dark aside.navigation nav ul li.current-item a svg {
    @apply text-primary-500;
    @apply bg-primary-800;
}

.dark aside.navigation nav ul li.current-item a:hover svg,
.dark aside.navigation nav ul li.current-item.dropdown button:hover svg {
    @apply text-primary-300;
}

.dark aside.navigation nav ul li.version {
    @apply text-primary-500;
}

.dark aside.navigation nav ul li.version {
    @apply text-primary-400;
}


/* ****************** */
/* **** DROPDOWN **** */
.dropdown,
aside.navigation nav ul li.dropdown {
    @apply relative;
    @apply w-auto h-auto;
    @apply mx-2.5 my-3;
}

.dropdown .dropdown-submenu,
aside.navigation nav ul li.dropdown .dropdown-submenu {
    @apply absolute;
    @apply min-w-[300px];
    @apply px-1;
    @apply shadow-md shadow-primary-400;
    @apply bg-primary-200;
    @apply border-0 rounded-sm;
}

.dropdown.dir-rb .dropdown-submenu,
aside.navigation nav ul li.dropdown.dir-rb .dropdown-submenu {
    @apply -right-6 top-12;
    @apply min-w-[500px];
}

.dropdown.dir-br .dropdown-submenu,
aside.navigation nav ul li.dropdown.dir-br .dropdown-submenu {
    @apply left-2.5 bottom-2;
    @apply ml-14;
}

.dropdown .dropdown-submenu ul,
aside.navigation nav ul li.dropdown .dropdown-submenu ul {
    @apply border-t border-primary-300;
    @apply py-1;
}

.dropdown .dropdown-submenu ul:first-of-type,
aside.navigation nav ul li.dropdown .dropdown-submenu ul:first-of-type {
    @apply border-t-0;
}

.dropdown .dropdown-submenu ul li,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li {
    @apply flex flex-row;
    @apply items-start justify-start;
    @apply text-sm leading-snug;
    @apply mb-1;
}

.dropdown .dropdown-submenu ul li.success:hover,
.dropdown .dropdown-submenu ul li.danger:hover,
.dropdown .dropdown-submenu ul li.warning:hover {
    @apply cursor-pointer;
}

.dropdown .dropdown-submenu ul li.info {
    @apply text-info-600;
}

.dropdown .dropdown-submenu ul li.success {
    @apply text-success-600;
}

.dropdown .dropdown-submenu ul li.success:hover {
    @apply bg-success-600;
}

.dropdown .dropdown-submenu ul li.success:hover,
.dropdown .dropdown-submenu ul li.success:hover svg {
    @apply text-success-400;
}

.dropdown .dropdown-submenu ul li.danger {
    @apply text-danger-600;
}

.dropdown .dropdown-submenu ul li.danger:hover {
    @apply bg-danger-600;
}

.dropdown .dropdown-submenu ul li.danger:hover,
.dropdown .dropdown-submenu ul li.danger:hover svg {
    @apply text-danger-400;
}

.dropdown .dropdown-submenu ul li.warning {
    @apply text-warning-600;
}

.dropdown .dropdown-submenu ul li.warning:hover {
    @apply bg-warning-600;
}

.dropdown .dropdown-submenu ul li.warning:hover,
.dropdown .dropdown-submenu ul li.warning:hover svg {
    @apply text-warning-400;
}

.dropdown .dropdown-submenu ul li:last-of-type,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li:last-of-type {
    @apply mb-0;
}

.dropdown .dropdown-submenu ul li,
.dropdown .dropdown-submenu ul li a,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li a {
    @apply items-center justify-start;
    @apply w-full h-auto;
    @apply text-sm;
    @apply transition-all duration-150 ease-in-out;
}

.dropdown .dropdown-submenu ul li svg,
.dropdown .dropdown-submenu ul li a svg,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li svg,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li a svg {
    @apply w-5 h-5;
    @apply m-1.5;
    @apply inline-flex;
    @apply flex-shrink-0;
}

.dropdown .dropdown-submenu ul li.current-item a,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li.current-item a {
    @apply bg-primary-300;
}

.dropdown .dropdown-submenu ul li p,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li p {
    @apply my-1.5;
}

.dropdown .dropdown-submenu ul li a:hover,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li a:hover {
    @apply bg-primary-400;
}

.dropdown .dropdown-submenu ul li a:hover svg,
aside.navigation nav ul li.dropdown .dropdown-submenu ul li a:hover svg {
    @apply text-primary-50;
}

.dropdown .dropdown-submenu ul li.menu-header-user,
.dropdown .dropdown-submenu ul li.menu-header-center {
    @apply flex flex-row;
    @apply px-2 pt-3 pb-2.5;
    @apply bg-primary-500 text-primary-50;
}

.dropdown .dropdown-submenu ul li a strong,
.dropdown .dropdown-submenu ul li.menu-header-user strong {
    @apply mx-1;
}

.dropdown .dropdown-submenu ul li.menu-header-center {
    @apply uppercase;
    @apply items-center justify-center;
}

.dropdown .dropdown-submenu ul li.theme-switcher {
    @apply my-2;
}

.dropdown.notifications .dropdown-submenu ul li,
.dropdown.notifications .dropdown-submenu ul li a {
    @apply items-start justify-start;
}

.dark .dropdown .dropdown-submenu,
.dark aside.navigation nav ul li.dropdown .dropdown-submenu {
    @apply bg-primary-600;
}

.dark .dropdown .dropdown-submenu ul,
.dark aside.navigation nav ul li.dropdown .dropdown-submenu ul {
    @apply border-primary-500;
}

.dark .dropdown .dropdown-submenu ul li a:hover,
.dark aside.navigation nav ul li.dropdown .dropdown-submenu ul li a:hover {
    @apply bg-primary-500;
}

.dark .dropdown .dropdown-submenu ul li.current-item a,
.dark aside.navigation nav ul li.dropdown .dropdown-submenu ul li.current-item a {
    @apply bg-primary-700;
}

.dark .dropdown .dropdown-submenu ul li.menu-header {
    @apply bg-primary-800;
}

.dark .dropdown .dropdown-submenu ul li.info {
    @apply text-info-200;
}

.dark .dropdown .dropdown-submenu ul li.success {
    @apply text-success-200;
}

.dark .dropdown .dropdown-submenu ul li.danger {
    @apply text-danger-200;
}

.dark .dropdown .dropdown-submenu ul li.warning {
    @apply text-warning-200;
}


/* ***************** */
/* **** CONTENT **** */
section.content {
    @apply flex flex-col flex-1;
    @apply w-full h-auto;
    @apply bg-primary-100;
}

section.content header,
section.content footer {
    @apply py-5;
    @apply pl-20 pr-5;
    @apply w-full;
    @apply border-b border-primary-300;
    @apply bg-primary-200;
    @apply leading-none;
}

.guest section.content header,
.guest section.content footer {
    @apply px-5;
}

section.content header {
    @apply py-[11.5px];
    @apply flex flex-row flex-1;
    @apply items-center justify-between;
    @apply fixed;
}

section.content footer {
    @apply flex flex-row flex-1;
    @apply items-center justify-between;
    @apply border-t border-b-0;
    @apply py-3;
}

section.content header section,
section.content footer section {
    @apply h-10;
    @apply leading-none;
}

section.content main {
    @apply h-full;
    @apply pt-20 pb-5;
    @apply pl-20 pr-5;
    @apply bg-primary-100;
    @apply leading-none;
}

.guest section.content main {
    @apply p-0;
}

.dark section.content {
    @apply bg-primary-900;
}

.dark section.content header,
.dark section.content footer {
    @apply border-primary-600;
    @apply bg-primary-700;
}

.dark section.content main {
    @apply bg-primary-900;
}

/* *************** */
/* **** TOAST **** */
.toast {
    @apply fixed right-4 top-20;
    @apply flex flex-row;
    @apply w-auto max-w-max;
    @apply z-50;
}

.toast svg {
    @apply w-7 h-7;
}

.toast .icon {
    @apply flex flex-col flex-1;
    @apply w-auto;
    @apply p-2;
    @apply bg-primary-50;
    @apply rounded-l-sm;
}

.toast .group {
    @apply flex flex-col;
    @apply items-start justify-between;
    @apply w-full h-auto;
    @apply px-4 py-2 space-y-2;
    @apply rounded-sm shadow;
    @apply cursor-pointer;
    @apply text-sm;
    @apply leading-none;
}

.toast .group .text {
    @apply leading-loose;
}

.toast.info .icon {
    @apply text-info-600;
}

.toast.info .group {
    @apply text-info-50 bg-info-600;
}

.toast.success .icon {
    @apply text-success-600;
}

.toast.success .group {
    @apply text-info-50 bg-success-600;
}

.toast.errors .icon {
    @apply text-danger-600;
}

.toast.errors .group {
    @apply text-info-50 bg-danger-600;
}

.toast.warning .icon {
    @apply text-warning-500;
}

.toast.warning .group {
    @apply text-info-50 bg-warning-500;
}

/* *************** */
/* **** FORMS **** */
.input-block {
    @apply relative;
    @apply mb-4;
}

.input-block label,
.file-block label {
    @apply absolute block;
    @apply text-xs select-none;
    @apply top-1.5 left-2;
    @apply text-primary-500;
}

.input-block label .required,
.file-block label .required {
    @apply text-danger-700;
}

.input-block label .required span,
.file-block label .required span {
    @apply text-primary-500;
}

.input-block label.error,
.file-block label.error {
    @apply text-danger-700;
}

.input-block label.error .required span,
.file-block label.error .required span {
    @apply text-danger-700;
}

.input-block label.disabled,
.file-block label.disabled {
    @apply text-gray-300;
}

.input-block label.disabled .required span,
.file-block label.disabled .required span {
    @apply text-gray-300;
}

.input-block input,
.input-block select,
.file-block .icon {
    @apply w-full h-14;
    @apply p-2 pt-6;
    @apply text-sm leading-none;
    @apply border rounded;
    @apply bg-primary-50 border-primary-300;
}

.input-block input::placeholder {
    @apply text-primary-300;
}

.input-block input:focus,
.input-block select:focus {
    @apply ring-primary-500 border-primary-500;
}

.input-block input:active,
.input-block select:active {
    @apply ring-primary-500;
}

.input-block input.no-label,
.input-block select.no-label {
    @apply h-10;
    @apply pt-2;
}

.input-block input.error,
.input-block select.error {
    @apply bg-danger-50 border-danger-300;
}

.input-block input.error:focus,
.input-block select.error:focus {
    @apply ring-danger-500 border-danger-500;
}

.input-block input.error:active,
.input-block select.error:active {
    @apply ring-danger-500;
}

.input-block input.disabled,
.input-block input.readonly,
.input-block select.disabled {
    @apply text-gray-400 bg-gray-200 border-gray-300;
}

.input-block input.disabled:focus,
.input-block select.disabled:focus {
    @apply border-gray-500 ring-gray-500;
}

.input-block input.readonly:focus {
    @apply border-none ring-gray-300;
}

.input-block input.disabled:active,
.input-block select.disabled:active {
    @apply ring-gray-500;
}

.input-block svg {
    @apply absolute;
    @apply w-5 h-5;
    @apply top-7 right-2;
}

.input-block .form-select+svg {
    @apply top-5 right-8;
}

.input-block svg.no-label {
    @apply top-2.5;
}

.input-block svg.error {
    @apply text-danger-700;
}

.file-block input::file-selector-button {
    @apply px-2 py-1 mx-2;
    @apply border-0;
    @apply text-sm font-semibold;
    @apply bg-primary-50 text-primary-700;
}

.file-block input::file-selector-button:hover {
    @apply rounded-sm;
    @apply cursor-pointer;
    @apply bg-primary-100 text-primary-900;
}

.file-block .icon svg,
.file-block .icon img {
    @apply absolute;
    @apply top-6 left-3;
    @apply w-7 h-7;
    @apply rounded-full;
    @apply ring-2 ring-primary-300;
}

.file-block .icon svg {
    @apply p-1;
    @apply text-primary-600;
}

.file-block .icon input {
    @apply p-0 ml-8;
    @apply w-[90%] h-auto;
    @apply border-none bg-none;
}

.file-block .icon input:focus,
.file-block .icon input:active,
.file-block .icon input:hover {
    @apply border-none ring-0;
}

.file-block .icon svg.error {
    @apply absolute;
    @apply ring-0;
    @apply left-[90%];
    @apply text-danger-700;
}

.dark .input-block label,
.dark .file-block label {
    @apply text-primary-400;
}

.dark .input-block label .required,
.dark .file-block label .required {
    @apply text-danger-400;
}

.dark .input-block label .required span,
.dark .file-block label .required span {
    @apply text-primary-400;
}

.dark .input-block label.error,
.dark .file-block label.error {
    @apply text-danger-200;
}

.dark .input-block label.error .required span,
.dark .file-block label.error .required span {
    @apply text-danger-200;
}

.dark .input-block label.disabled,
.dark .file-block label.disabled {
    @apply text-gray-600;
}

.dark .input-block label.disabled .required span,
.dark .file-block label.disabled .required span {
    @apply text-gray-600;
}

.dark .input-block input,
.dark .input-block select {
    @apply bg-primary-950 border-primary-600;
}

.dark .input-block input::placeholder {
    @apply text-primary-900;
}

.dark .input-block input:focus,
.dark .input-block select:focus {
    @apply ring-primary-400 border-primary-400;
}

.dark .input-block input:active,
.dark .input-block select:active {
    @apply ring-primary-400;
}

.dark .input-block input.error,
.dark .input-block select.error {
    @apply bg-danger-950 border-danger-600;
}

.dark .input-block input.error:focus,
.dark .input-block select.error:focus {
    @apply ring-danger-400 border-danger-400;
}

.dark .input-block input.error:active,
.dark .input-block select.error:active {
    @apply ring-danger-400;
}

.dark .input-block input.disabled,
.dark .input-block select.disabled {
    @apply text-gray-500 bg-gray-700 border-gray-600;
}

.dark .input-block input.disabled:focus,
.dark .input-block select.disabled:focus {
    @apply border-gray-400 ring-gray-400;
}

.dark .input-block input.disabled:active,
.dark .input-block select.disabled:active {
    @apply ring-gray-400;
}

.dark .input-block svg.error {
    @apply text-danger-200;
}

.dark .file-block .icon {
    @apply bg-primary-950 border-primary-600;
}

.dark .file-block input::file-selector-button {
    @apply bg-primary-900 text-primary-300;
}

.dark .file-block input::file-selector-button:hover {
    @apply bg-primary-700 text-primary-900;
}

.dark .file-block .icon svg,
.dark .file-block .icon img {
    @apply ring-primary-400;
}

.dark .file-block .icon svg {
    @apply text-primary-500;
}

.checkradio-block {
    @apply flex flex-row;
    @apply items-center justify-start;
    @apply p-4 leading-relaxed;
    @apply rounded;
    @apply bg-primary-50;
}

.checkradio-block .form-checkbox:focus,
.checkradio-block .form-radio:focus,
.checkradio-block .form-checkbox:active,
.checkradio-block .form-radio:active,
.checkradio-block .form-checkbox:hover,
.checkradio-block .form-radio:hover {
    @apply outline-none outline-0 outline-offset-0 outline-transparent;
    @apply shadow-none ring-0 ring-transparent ring-opacity-0 ring-offset-0;
}

.checkradio-block input {
    @apply rounded;
    @apply bg-primary-200 border-primary-400;
    @apply ring-0 outline-0;
}

.checkradio-block input:focus,
.checkradio-block input:active,
.checkradio-block input:hover {
    @apply ring-0 outline-0;
    @apply cursor-pointer;
}

.checkradio-block input:checked,
.checkradio-block input:checked:focus,
.checkradio-block input:checked:active,
.checkradio-block input:checked:hover {
    @apply bg-primary-600 border-primary-400;
    @apply outline-0;
}

.checkradio-block label {
    @apply pl-2;
    @apply leading-relaxed;
}

.dark .checkradio-block {
    @apply bg-primary-950;
}

.dark .checkradio-block input {
    @apply bg-primary-400 border-primary-200;
}

.dark .checkradio-block input:checked,
.dark .checkradio-block input:checked:focus,
.dark .checkradio-block input:checked:active,
.dark .checkradio-block input:checked:hover {
    @apply bg-primary-800 border-primary-400;
    @apply outline-0;
}


/* ***************** */
/* **** BUTTONS **** */
.btn,
.mini-btn,
.btn.success,
.btn.danger,
.mini-btn.success,
.mini-btn.danger {
    @apply inline-flex;
    @apply items-center justify-center;
    @apply px-4 py-2;
    @apply text-xs font-semibold tracking-widest uppercase;
    @apply transition duration-150 ease-in-out;
    @apply border border-transparent;
    @apply rounded-md;
    @apply text-primary-100 bg-primary-800;
}

.btn svg,
.mini-btn svg,
.btn.success svg,
.btn.danger svg,
.mini-btn.success svg,
.mini-btn.danger svg {
    @apply mt-0;
}

.small {
    @apply w-7 h-7;
    @apply items-center justify-center;
    @apply px-1 py-0.5;
}

.small span {
    @apply hidden;
}

.small svg {
    @apply w-4 h-4;
    @apply p-0 m-0;
}

.mini-btn {
    @apply w-7 h-7;
    @apply px-1 py-0.5;
}

.btn:hover,
.mini-btn:hover {
    @apply bg-primary-600;
}

.mini-btn.edit,
.btn.success,
.dark .mini-btn.edit,
.dark .btn.success {
    @apply bg-success-500 text-success-200;
}

.mini-btn.edit:hover,
.btn.success:hover,
.dark .mini-btn.edit:hover,
.dark .btn.success:hover {
    @apply bg-success-600 text-success-400;
}

.mini-btn.trash,
.btn.danger,
.dark .mini-btn.trash,
.dark .btn.danger {
    @apply bg-danger-500 text-danger-200;
}

.mini-btn.trash:hover,
.btn.danger:hover,
.dark .mini-btn.trash:hover,
.dark .btn.danger:hover {
    @apply bg-danger-600 text-danger-400;
}

.mini-btn.restore,
.btn.restore,
.dark .mini-btn.restore,
.dark .btn.restore {
    @apply bg-secondary-700 text-secondary-400;
}

.mini-btn.restore:hover,
.btn.restore:hover,
.dark .mini-btn.restore:hover,
.dark .btn.restore:hover {
    @apply bg-secondary-800 text-secondary-200;
}

.dark .btn,
.dark .mini-btn {
    @apply bg-primary-800 text-primary-100;
}

.dark .btn:hover,
.dark .mini-btn:hover {
    @apply bg-primary-950;
}

/* ****************** */
/* ***** AVATAR ***** */
.avatar {
    @apply w-10 h-10;
    @apply rounded-full;
    @apply text-primary-600;
    @apply ring-4 ring-primary-400;
    @apply transition-all duration-150 ease-in-out;
}

.avatar.mini {
    @apply w-7 h-7;
    @apply ring-2;
}

svg.avatar {
    @apply p-1;
}

.avatar:hover {
    @apply ring-primary-500;
}

.dark .avatar {
    @apply text-primary-400;
}

/* ***************** */
/* **** HEADING **** */
h1 {
    @apply font-bold;
    @apply text-4xl;
    @apply leading-none;

}

h2 {
    @apply font-bold;
    @apply text-3xl;
    @apply leading-none;
}

h3 {
    @apply font-bold;
    @apply text-2xl;
    @apply leading-none;
}

h4 {
    @apply font-bold;
    @apply text-xl;
    @apply leading-none;
}

h5 {
    @apply font-bold;
    @apply text-lg;
    @apply leading-none;
}

h6 {
    @apply font-bold;
    @apply text-base;
    @apply leading-none;
}

/* **************** */
/* **** PAGES **** */
.table.details {
    @apply w-full h-auto;
    @apply table-auto;
    @apply border border-gray-300;
    @apply bg-gray-200;
}

.table.details .caption-top,
.table.details .caption-bottom {
    @apply my-2;
    @apply w-full;
    @apply text-gray-400;
    @apply text-xs leading-none;
}

.table.details tr th,
.table.details tr td {
    @apply p-3 m-0;
    @apply text-sm leading-loose;
}

.table.details tr th {
    @apply uppercase;
    @apply bg-gray-200;
}

.table.details tr td {}

.table.details tr:nth-child(even) {
    @apply bg-gray-200;
    @apply border-2 border-gray-300;
}

.table.details tr:nth-child(odd) {
    @apply bg-gray-300;
    @apply border-2 border-gray-300;
}

.table.details tr:nth-child(even):hover,
.table.details tr:nth-child(odd):hover {
    @apply bg-gray-100;
}

.table.details tr td.userimg {
    @apply py-0;
    @apply w-16;
}

.table.details tr td.userimg .avatar {
    @apply mx-auto;
}

.table.details tr td.userimg+td {
    @apply text-center;
}

.table.details tr td:first-of-type,
.table.details tr td.age,
.table.details tr td.age+td {
    @apply text-center;
}

.table.details tr td.edit {
    @apply flex flex-row;
    @apply items-center justify-around;
}

.dark .table.details {
    @apply border-gray-700;
    @apply bg-gray-600;
}

.dark .table.details .caption-top,
.dark .table.details .caption-bottom {
    @apply text-gray-800;
}

.dark .table.details tr td {
    @apply bg-gray-700;
}

.profile,
.profile.new form {
    @apply flex flex-1;
    @apply h-full;
    @apply space-x-5;
}

.profile .details,
.profile.new form,
.profile .delete {
    @apply w-1/3;
    @apply p-5;
    @apply rounded-sm shadow-sm;
    @apply bg-primary-50;
}

.profile .details.half {
    @apply justify-end;
    @apply h-1/2;
}

.profile.new form {
    @apply w-full;
    @apply p-0;
    @apply rounded-none shadow-none;
    @apply bg-transparent;
}

.profile .delete {
    @apply bg-danger-300;
}

.profile .details form,
.profile.new form .details,
.profile .delete {
    @apply flex flex-col flex-1;
    @apply w-full h-full;
}


.profile .details form {
    @apply pb-12;
}

.profile.new form .details:first-of-type {
    @apply ml-0;
}

.profile .details form .action-button,
.profile.new form .details .action-button,
.profile .delete .action-button {
    @apply flex flex-row flex-grow;
    @apply items-end justify-end;
    @apply max-w-full max-h-fit;
}

.profile .details form .action-button .btn,
.profile.new form .details .action-button .btn,
.profile .delete .action-button .btn {
    @apply w-full;
}

.dark .profile .details,
.dark .profile.new form .details {
    @apply bg-primary-950;
}

.dark .profile .delete {
    @apply bg-danger-600;
}

.changelog {
    @apply flex flex-col;
    @apply space-y-5;
}

.changelog .detail {
    @apply flex flex-row;
    @apply w-full h-auto;
    @apply pb-5;
    @apply text-sm;
    @apply border-b border-primary-200;
}

.changelog .detail:last-of-type {
    @apply pb-0;
    @apply border-0;
}

.changelog .detail .tag {
    @apply flex flex-col;
    @apply items-center justify-start;
    @apply w-1/12 h-auto;
}

.changelog .detail .tag a {
    @apply text-info-700;
    @apply cursor-pointer;
}

.changelog .detail div {
    @apply flex flex-row;
    @apply items-center justify-center;
    @apply leading-loose;
}

.changelog .detail .date {
    @apply w-1/12 h-auto;
    @apply text-gray-400;
}

.changelog .detail .title {
    @apply items-center justify-between;
    @apply pl-5;
    @apply w-9/12 h-auto;
}

.changelog .detail .title .dels {
    @apply px-1;
    @apply w-14;
    @apply text-xs text-center text-danger-600;
}

.changelog .detail .title .adds {
    @apply px-1;
    @apply w-14;
    @apply text-xs text-center text-success-600;
}

.changelog .detail .author {
    @apply items-center justify-between;
    @apply w-1/12 h-auto;
}

.dark .changelog .detail {
    @apply border-primary-800;
}

.changelog .detail .author .avatar {
    @apply ml-4;
}

.dark .changelog .detail .tag a {
    @apply text-info-400;
}

.dark .changelog .detail .title .dels {
    @apply text-danger-400;
}

.dark .changelog .detail .title .adds {
    @apply text-success-400;
}


.detailed-list {
    @apply w-full h-auto;
    @apply mb-4;
    @apply border-0;
    @apply bg-primary-200;
}

.detailed-list .detailed-header {
    @apply flex;
    @apply items-center justify-center;
    @apply leading-7 text-center;
    @apply font-bold uppercase;
    @apply bg-primary-300 text-primary-800;
}

.detailed-list .detailed-footer {
    @apply flex;
    @apply items-center justify-center;
    @apply text-center;
    @apply bg-primary-300 text-primary-800;
}

.detailed-list .detailed-row {
    @apply flex;
    @apply items-start justify-center;
    @apply text-center;
}

.detailed-list .detailed-row.odd {
    @apply bg-primary-100;
    @apply border-b border-primary-300;
}

.detailed-list .detailed-row.even {
    @apply bg-primary-200;
    @apply border-b border-primary-300;
}

.detailed-list .detailed-header .actions,
.detailed-list .detailed-row .actions,
.detailed-list .detailed-footer .actions {
    @apply flex;
    @apply items-center justify-center;
    @apply space-x-2;
    @apply leading-7;
}

.detailed-list .detailed-header div,
.detailed-list .detailed-row div,
.detailed-list .detailed-footer>div {
    @apply p-4;
    @apply leading-7;
}

/* *************** */
/* **** THEME **** */
/* *************** */



@tailwind components;
@tailwind utilities;